<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>
      <%= t "user.question.suggested" %>
      <%= link_to "", new_user_question_path(current_user),
        class: "pull-right glyphicon glyphicon-plus-sign" %>
    </h2>
  </div>
</div>
