@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

ul.alert {
  padding-left: 30px;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-alert {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.thumbnail {
  display: block;
  padding: 50px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #DDD;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.col-md-offset-1 {
  margin-left: 8.33333333%;
  margin-top: 40px;
}

.course_list_border {
  border-bottom:1px solid #e2e8e9;
  padding-bottom:15px;
}

.alert {
  list-style: none;
}

.alert-success, .alert-notice {
  border-left: 3px solid #00C040;
}

.alert-warning, .alert-danger, .alert-alert {
  border-left: 3px solid rgba(192, 35, 0, 0.79);
}

.debug_dump {
  margin-top: 50px;
}

thead {
  background-color: #ddd;
}

.nested-fields {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  height: auto !important;
}

.activity {
  padding: 5px 0 5px 0px;
}

.time-ago {
  color: #397AB7;
}

.clock {
  right: 0px;
  position: fixed;
}

.time_remaining {
  float: left;
  width: 100%;
}

.time {
  float: left;
  width: 20%;
}

.action_submit {
  padding-top: 20px;
}

.question {
  padding-top: 20px;
}

h4.result {
  color: #3F51B5;
}

.form-inline .field {
  padding-top: 7px;
}
